* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: aqua;
    background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

h1 {
    font-size: 36px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 28px;
    }
}

h3 {
    font-size: 24px;
    margin-bottom: 12px;
}

h5 {
    font-size: 16px;
    margin-bottom: 10px;
}


.ruby{
    padding-top: 250px;
}







